@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800;900&family=Merriweather:wght@300;400;700;900&display=swap');

.first-item {
    text-align: center;
    font-family: Merriweather;
    margin: 50px 140px auto 140px;
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Resources/BannerImage.png');
    background-size: cover;
    padding: 170px 330px;
    border-radius: 15px;
    /* background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%); */
}

.bigfont {
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-weight: 400;
}

.smolfont {
    color: #FFF;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.redletter {
    margin-top: 150px;
    margin-bottom: 50px;
    text-align: center;
    color: #F00;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.smol-redletter {
    margin-top: 0px;
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 600;
}

.smol-blackletter {
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.NYP {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    height: 500px;
    margin-bottom: 120px;
}

.vector {
    margin-left: auto;
    margin-right: auto;
    margin: auto 140px;
    display: flex;
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url('../Resources/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 120px;
}

.vector-column1 {
    margin-top: 125px;
    margin-left: 125px;
}

.vector-column2 {
    margin-top: 70px;
    margin-bottom: 70px;
    margin-right: 130px;
}

.vector-title {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
}

.vector-description {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.transparent-button {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    background-color: Transparent;
    background-repeat: no-repeat;
}

.pink-div {
    text-align: center;
    margin: 120px 140px;
    background-image: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
}

.laal {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.kaalo {
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
}

.laal-button {
    border-radius: 8px;
    background: #F00;
    border: none;
    color: #FFF;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.extra-marks {
    display: flex;
    margin: 120px 140px;
    justify-content: space-around;
    gap: 150px;
}

.special-description {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.special-title {
    color: #F00;
    text-align: left;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.special-brief {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
}

.special-year {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
}

.jharbatti {
    border: 10px solid red;
    border-radius: 360px;
    padding: 15px;
}

.functional {
    text-align: center;
    margin: 0px 140px 65px 140px;
    padding: 0px 125px;
}

.function {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0px;
}

.sale {
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 30px;
    margin-top: 15px;
}

.holiday {
    color: #F00;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0px;
}

.function-description {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.image-part {
    display: flex;
    background-image: url('../Resources/Rectangle2.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin: 65px 140px 65px 140px;
    justify-content: space-between;
}

.discount-div {
    background-image: url('../Resources/Rectangle1.png');
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 15px;
    background-size: 430px 388px;
}

.discount {
    margin-right: 275px;
    margin-top: 75px;
}

.gift-section {
    text-align: left;
    margin: 120px 140px;
}
/* id starts here */

#ves-des {
    margin-bottom: 65px;
}